{% load staticfiles %}

<!DOCTYPE html>
<html>
<head>
	<title></title>

	<link rel="stylesheet" type="text/css" href=" {% static "css/bootstrap.min.css" %}">
	<link rel="stylesheet" type="text/css" href=" {% static "css/style.css" %}">

</head>
<body>
<br><br>
       <ul class="nav nav-tabs">
          <li role="presentation" class="active"><a href="{% url 'calculo' %}">Soma</a></li>
          <li role="presentation"><a href="{% url 'resultado' %}">Resultados</a></li>
      </ul>

             

      
       {% block content %}{% endblock %} 

  <script src=" {% static "js/jquery.js" %} "></script>
  <script src="{% static "js/bootstrap.min.js" %}"></script>

</body>
</html>